<ion-header>
  <ion-toolbar>
    <ion-title>
      Information
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to my Azure machine learning test!</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>You can take pictures with your phone camera, and they will be uploaded to be processed by Azure Cognitive Services.</p>
        <p>After processing, you can check what the service could find about the image you just sent!</p>
      </ion-card-content>
    </ion-card>
    
</ion-content>
