<ion-header>
  <ion-toolbar>
    <ion-title>
      Photo Gallery
    </ion-title>
  </ion-toolbar>
</ion-header>

<div>
  <img [src]="photoService.photos[0].data" />
</div>

<ion-content>
  <!-- Data content -->
  <div class="data-content">
    <h2 *ngIf="(loading | async)">
      LOADING...
    </h2>
    <div *ngIf="!(loading | async)">
	  <h4>Acquired data: </h4>
	  <div *ngIf="(dataResult | async)" >
		<p *ngFor="let item of (dataResult | async)" >
			{{item.name}}
		</p>
	  </div>
    </div>
  </div>
  <!-- ! Data content -->

  <!-- Button -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="onClickCamera()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- ! Button -->
</ion-content>
